@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Spongeboy';
    src: url('assets/Spongeboy Me Bob.woff2') format('woff2'),
    url('assets/Spongeboy Me Bob.woff') format('woff'),
    url('assets/Spongeboy Me Bob.ttf') format('truetype');
    font-display: swap;
}

.spongeboymebob { font-family: 'Spongeboy', serif; /* from da font */ }

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(22, 22, 22,0.54);
    border-radius: 50px;
}

/* background */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.animated-gradient {
    background: linear-gradient(205deg, #222, #111);
    background-size: 400% 400%;
    animation: gradientAnimation 100s ease infinite;
}

/* dropdowns */
summary::-webkit-details-marker {
    display: none;
}

/* REFACTOR CSS TO HAVE GLOBALS HERE */
/* Make global vars for easy updating of pallette to hero-image
    as that is the new strat?
    one colourset forever is great, but I can switch things up
    and that is okay! or is it not, does that ruin the whole
    brand image thing?
*/

